.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.search_header{
    background-color: purple;
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 50px;
    align-items: center;
    width: 100%;
    position: fixed;
}
img{
    width: 400px;
    height: 350px;

}
.hide{
    display: none;
}
.add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

button {
    background-color: azure;
    border-radius: 25%;
}