.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-top: 50px;
}
.search_header{
    background-color: purple;
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 50px;
    align-items: center;
    width: 100%;
    position: fixed;
}
img {
    display: block;
    object-fit: cover;
    object-position: center;
    transition: transform 400ms ease-out;
  }
  img:hover {
  transform: scale(1.02);
  }
.add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

button {
    background-color: azure;
    border-radius: 25%;
}

.hide{
    display: none;
}